/* Change text style in P, background color of all */

/* [BEG] for navbar for when you click one of the buttons, like home, it'll scroll down to that section with a scroll effect*/
html {
    scroll-behavior: smooth;
}
.scrollEffectClass{
    scroll-snap-align: start;
}
/* [END] for navbar for when you click one of the buttons, like home, it'll scroll down to that section with a scroll effect*/

body {
    background-color: white;
}
section {
    padding: 0 60px;
}


/* This is for Banner */

h6 {
    font-size: 25px;
}
.text-block {
    position: absolute;
    left: 50px;
    top: 165px;
    background-color: lightgray;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
}
.tempContainer {
    position: relative;
}

/* End of banner stuff */


.h2{
    text-align: center;
}

h5 {
    font-size: 32px;
    text-decoration: underline;
}

/* H6 and p format for cards */

.phdFormat {
    font-size: 16px;
    color: black;
}
.p-phdFormat{
    font-size: 15px;
}
/* ---------------- */

/* FAQ format */

h4{
    font-size: 20px;
}

/* Buy now button format */
/* Continue to style */
.buyNowButtom {
    font-size: 24px;
    color: black;
}
.buyNowButtom:hover {
    color: white;
}

.container {
    text-align: center;
}
.b1{
    border-radius: 10px;
}
a:link {
    font-size: 36px;
    color:black;
}
a:hover {
    color:blue;
    text-decoration: none;
}

/* THE FOLLOWING IS FOR index2.html */
/* -------------------------------- */
/* For Cart Buttoon --> index2.html */

/* class for overall button */

.cartButton {
    font-size: 24px;
    text-align: center;

}
/* For b2 button class */

.b2 {
    border: 3px solid black;
    border-radius: 16px;
}
.b2:hover {
    background-color: rgb(192, 173, 173);
    color: black;
}
/* For <a> tag */

.aInsideButton {
    color: rgb(212, 47, 47);
}
.aInsideButton:hover{
    color: black;
}


/* THIS SECTION IS FOR THE CART IN index2.html" */
.temp{
    justify-content: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 3fr);
    /* ABOVE WILL NEED TO CHANGE DURING MEDIA QUIERES */
}
.cart {
    width: 100%;
    background-color: rgb(43, 43, 180);
    color: white;
    text-decoration: none;
}
.cartHeading {
    width: 100%;
    color: white;
    font-size: 60px;
    text-align: center; 
}
.cartHeading-section{
    padding: 0 0px;
}

.cart-card{
    color: black;
}
.cart-card-p{
    color: black;
    font-size: 25px;
}
.cart-card-h{
    font-size: 36px;
    color: black;
}
.temp1{
    background-color: white;
}
.total-price-h{
    font-size: 30px;
    color: black;
}
.total-price{
    font-size: 30px;
    color: black;
}


/* All classes for checkout bottom below */
.div-CO-button{
    text-align: center;
}
.check-out-button{
    color: black;
    background-color: aqua;
    font-size: 30px;
    border-radius: 16px;

}
.check-out-button:hover{
    color: black;
    background-color: darkblue;
    font-size: 30px;
    border-radius: 16px;

}
.CO-A{
    color: black;
}
.CO-A:hover{
    color: white;
}

/*Media queries are going to be needed for imgs and font-size in instructor cards */

/* index.html media queries */
    @media screen and (max-width: 280px) {
        /*BELOW IS EVERYTHING FOR NAVBAR AND BANNER */
        section{
            padding: 0 40px;
        }
        .text-block{
            top: 93px;
            left: 37px;
        }

        .p-2{
            padding: 0.2rem;
        }
        .navbar{
            width: 100%;
        }
        .tempContainer{
            width: 100%;
        }
        a:link{
            font-size: 10px;
        }
        /*ABOVE IS EVERYTHING FOR NAVBAR AND BANNER */
        img {
            height: 200px;
        }
        .instructors .card-text{
            font-size: 12px;
        }
    }
    /* ---------------------------------*/ 
    @media screen and (min-width: 281px) and (max-width: 539px){
        h6{
            font-size: 0.8rem;
        }
        section{
            padding: 0 40px;
        }
        .tempContainer{
            width: 100%;
        }
        .navbar{
            width: 100%;
        }
        .navbrand{
            width:100%;
        }
        .instructors img{
            height: 200px;
        }
        a:link{
            font-size: 20px;
        }
    }

    /* ---------------------------------*/ 
    @media screen and (min-width: 761px) and (max-width: 900px) {}
    /* ---------------------------------*/ 
    @media screen and (min-width: 901px) and (max-width: 1000px) {
        img {
            height: 250px;
        }
        .p-phdFormat{
            font-size: 14px;
        }
        .why p{
            font-size: 20px;
        }
        .about p{
            font-size: 20px;
        }
        .FAQ p{
            font-size: 20px;
        }
        .FAQ h4{
            font-size: 26px;  
        }
    }
    /* ---------------------------------*/ 
    @media screen and (max-width: 1280px) {
        img {
            height: 300px;
        }
        .p-phdFormat{
            font-size: 22px;
        }
        .why h2{
            font-size: 36px;
        }
        .why p{
            font-size: 20px;
        }
        .about p{
            font-size: 20px;
        }
        .FAQ p{
            font-size: 22px;
        }
        .FAQ h4{
            font-size: 36px;  
        }
        .FAQ h2{
            font-size: 4rem;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }