body{
    background-color: white;
    color: black;
}
section{
    padding: 0 60px;
}
.signUpH{
    text-align: center;
    font-size: 36px;
}
.signUpP{
    text-align: center;
    font-size: 16px;
    color: black;
}

.temp{
    align-items: center;
    text-align: center;
}
/*   INFORMATION SECTIONS   */
.headingFormat{
    text-align: start;
    font-size: 32px;
    color: black;
}
.labelFormat{
    justify-content: start;
}
.inputFormat{
    justify-content: start;
}
.pformat{
    text-align: start;
    font-size: 16px;
    color: black; 
}