body{
    background-color: white;
    color: black;
}
section{
    padding: 0 60px;
}
.signUpH{
    text-align: center;
    font-size: 36px;
}
.signUpP{
    text-align: center;
    font-size: 16px;
    color: black;
}

.inputFormat{
    align-items: center;
    text-align: center; /* DO THIS FOR EVERYTHING ITLL WORK FOR TEXT BOXS NOTE FOR TOMORORW*/
}
/*   INFORMATION SECTIONS   */
.headingFormat{
    text-align: center;
    font-size: 32px;
    color: black;
}
.submitButton{
    text-align: center;
}


.labelFormat{
    justify-content: start;
}
.pformat{
    text-align: start;
    font-size: 16px;
    color: black; 
}





    /* MEDIA QUIERY SECTIONS */
    @media screen and (max-width: 280px) {
        .signUpP {
        font-size: 12px;
        }
        .signUpH{
            font-size: 30px;
        }
    }