html {
    scroll-behavior: smooth;
}
.scrollEffectClass{
    scroll-snap-align: start;
}
/* [END] for navbar for when you click one of the buttons, like home, it'll scroll down to that section with a scroll effect*/

body {
    background-color: rgb(89, 151, 231);
}
section {
    padding: 0 60px;
}

h6 {
    font-size: 25px;
}
.text-block {
    position: absolute;
    left: 50px;
    top: 165px;
    background-color: lightgray;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
}
.tempContainer {
    position: relative;
}

/* End of banner stuff */


.h2{
    text-align: center;
}

h5 {
    font-size: 32px;
    text-decoration: underline;
}




.cartButton {
    font-size: 24px;
    text-align: center;

}
/* For b2 button class */

.b2 {
    border: 3px solid black;
    border-radius: 16px;
}
.b2:hover {
    background-color: rgb(192, 173, 173);
    color: black;
}
/* For <a> tag */

.aInsideButton {
    color: rgb(212, 47, 47);
}
.aInsideButton:hover{
    color: black;
}


/* THIS SECTION IS FOR THE CART IN index2.html" */
.temp{
    justify-content: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 3fr);
    /* ABOVE WILL NEED TO CHANGE DURING MEDIA QUIERES */
}
.cart {
    width: 100%;
    background-color: rgb(43, 43, 180);
    color: white;
    text-decoration: none;
}
.cartHeading {
    width: 100%;
    color: white;
    font-size: 60px;
    text-align: center; 
}
.cartHeading-section{
    padding: 0 0px;
}

.cart-card{
    color: black;
}
.cart-card-p{
    color: black;
    font-size: 25px;
}
.cart-card-h{
    font-size: 36px;
    color: black;
}
.temp1{
    background-color: white;
}
.total-price-h{
    font-size: 30px;
    color: black;
}
.total-price{
    font-size: 30px;
    color: black;
}


/* All classes for checkout bottom below */
.div-CO-button{
    text-align: center;
}
.check-out-button{
    color: black;
    background-color: aqua;
    font-size: 30px;
    border-radius: 16px;

}
.check-out-button:hover{
    color: black;
    background-color: darkblue;
    font-size: 30px;
    border-radius: 16px;

}
.CO-A{
    color: black;
}
.CO-A:hover{
    color: white;
}


/*--------------------*/
/* MEDIA QUIERY STUFF */
/*--------------------*/

@media screen and (max-width: 375px){
    section {
        padding: 0 0px;
    }
    .temp{
        padding-left: 0px;
    }

    .navbar{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .cart-card-h {
        padding-right: 30px;
    }
    .total-price{
        padding-right: 30px;
    }
}
@media screen and (max-width: 1280px) {
    .navbar-brand{
        padding-left: 10px;
    }
    .navbar{
        width: 100%;
    }
    .banner{
        width: 100%;
    }

    /*****  FOR CENTERING CARDS *****/
    .temp{
        padding-right: 60px;
        display: list-item;
    }
    /*******************************/
}
/*--------------------*/
@media screen and (max-width: 1024px) {
    section{
        padding-left: 240px;
    }
    .navbar{
        display: block;
        width: 100%;
    }
    .navbar-brand{
        font-size: 30px; 
    }
    .nav-link{
        font-size: 20px;
    }
    .banner{
        width: 100%;
    }

    /*****  FOR CENTERING CARDS *****/
    .temp{
        padding-right: 60px;
        display: list-item;
    }
    /**********/

    /***** FOR INSIDE OF CART *****/
    .cart-card-h{
        padding-left: 10px;
        padding-right: 70px;
    }
    .cart-card-p {
        padding-left: 10px;
    }

    .temp1{
        background-color: rgb(89, 151, 231);
    }
    .temp1 img{
        padding-right: 35px;
    }
    .total-price-h{
        font-size: 48px;
    }
    .total-price{
        padding-right: 70px;
        font-size: 36px;
    }
    .div-CO-button{
        padding-right: 170px;
    }
    /**********/
}
/*--------------------*/
@media screen and (max-width: 912px){
    section{
        padding: 0 120px;
    }
    .navbar{
        width: 100%;
    }
    .banner{
        width: 100%;
    }

    .temp{
        display: list-item;
    }
    .card-body{
        padding-left: 30px;
    }
    /** CART STUFF */
    .card-card-p{
        font-size: 22px;
    }
    .style2temp{
        padding-right: 150px;
    }
    .total-price{
        padding-right: 250px;
    }
    .div-CO-button{
        padding-right: 140px;
    }
    .cartHeading{
        text-align: start;
    }

}
/*--------------------*/
@media screen and (max-width: 820px){
    section{
        padding: 0 0px;
    }

    .navbar{
        display: block;
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .items img {
        text-align: center;
        align-items: center;
    }
    .card-group .items{
        text-align: center;
        align-items: center;
        padding-left: 15px;
    }
    .card-body{
        padding-right: 20px;
        font-size: 15px;
    }
    .temp{ /* FOR CHANGING ALIGNMENT OF CARDS */
        text-align: center;
        align-items: center;
        padding-left: 40px;
    }
    .cart-body img{
        width: 60%;
    }
    .total-price{
        padding-right: 0px;
        padding-left: 0px;
    }
    .cartHeading{
        text-align: start;
    }
    .style2temp{
        padding-right: 90px; /* for making picture of tutial fit inside of the cart, before some would be out of bounds */
    }
    .cart-card-p {
        color: black;
        font-size: 24px;
    }
    .cart-body img{
        width: 110%;
    }
    .cart-body .temp1{
        background-color: rgb(89, 151, 231);
        width: 90%;
    }
}
/*--------------------*/
@media screen and (max-width: 768px){
/* AS OF NOW UNNEEDED*/
}
/*--------------------*/
@media screen and (max-width: 540px){
    .navbar{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .cartHeading{
        width: 100%;
    }
}
/*--------------------*/
@media screen and (max-width: 414px){
    section{
        padding: 0 0px;
    }
    .temp{
        display: list-item;
        padding: 0 0px;
        padding-left: 0px;
    }
    .navbar{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    /*--------------------*/
    .card-group{
        padding-left: 0;
    }
    .card-group img{
        padding-right: 100px;
    }
    .card-body{ 
        padding: 0rem;
        font-size: 12px;
        padding-right: 110px;
        padding-left: 10px;
    }
    /*--------------------*/
    .cart-card-h {
        padding-right: 30px;
    }
    .cart-body .temp1{
        background-color: rgb(89, 151, 231);
        width: 200px;
    }
    .cart-card-p {
        font-size: 18px
    }

}
/*--------------------*/
@media screen and (max-width: 412px){
    .navbar{
        width: 110%;
    }
    .banner {
        width: 110%;
    }
    .cartHeading{
        width: 100%;
        padding-left: 5px;
    }
    .cart{
        width: 500px;
    }
    .cart-body img {
        width: 160%;
    }
}
/*--------------------*/
@media screen and (max-width: 393px){
    .navbar{
        width: 100%;
    }
    .banner {
        width: 100%;
    }
    .card-group .items {
        padding-left: 30px;
    }

    .cardHeading{
        width: 100%;
    }
    .cart-body img {
        width: 170%;
    }

}
/*--------------------*/
@media screen and (max-width: 390px){
    .theCart .p-card-text{
        font-size: 12px;
    }
    section{
        padding: 0 0px;
    }
    .navbar{
        width: 100%;
    }
    .banner{
        width:100%;
    }
    img {
        height: 200px;
        width: 70%;
    }
    .card-body{ 
        padding: 0rem;
        font-size: 12px;
        padding-right: 110px;
        padding-left: 10px;
    }
    .card-body img{
        width: 140%;
    } 
    .temp{
        display: list-item;
        padding: 0 0px;
        padding-left: 0px;
    }
    .cart-body .temp1{
        background-color: rgb(89, 151, 231);;
        height: 175px;
        width: 80%;
    }
    element.style {
        font-size: 20px;
        padding-right: 15px;
    }
}
/*--------------------*/
@media screen and (max-width: 375px){
    section {
        padding: 0 0px;
    }
    .temp{
        padding-left: 0px;
    }

    .navbar{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
/*--------------------*/
    .card-group .items{
        padding-left: 0px;
    }
    .card-group img{
        padding-right: 110px;
    }
/*--------------------*/
    .div-CO-button{
        padding-right: 0px;
    }
    .cart-card-h {
        padding-right: 30px;
    }
    .cart-card-p{
        font-size: 22px;
    }
    .total-price{
        padding-right: 30px;
    }
    .cart-body img {
        width: 100%;
    }
    .style2temp{ /*FOR CENTERING IMG INSIDE OF CART CARD */
        padding-right: 0px;
        padding-left: 0px;
    }
}
/*--------------------*/
@media screen and (max-width: 360px){
    .navbar{
        width: 100%;
    }
    .banner{
        width:100%;
    }
    .temp{
        padding: 0 0px;
        padding-left: 0px;
    }
    element.style{
        width: 0rem;
    }
    .card-group .items{
        text-align: start;
        padding-left: 0px;
        padding-right: 5px;
        align-items: start;
    }
    .card-group img{
        padding-left: 30px;
        padding-right: 0px;
    }

    .cart-card-p{
        font-size: 18px;
    }
}
/*--------------------*/
@media screen and (max-width: 280px) {
    .navbar{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    /*--------------------*/
    .card-body{
        font-size: 13px;
        padding-right: 0px;
    }
    
    .card-group .items {
        text-align: start;
    }
    .card-group img {
        padding-right: 6px;
        padding-left: 0px;
        width: 60%;
    }
    .card-text{
        padding-right: 200px;
    }
    .cartButton{
        padding-right: 200px;;
    }
    /*--------------------*/
    .cartHeading{
        width: 100%;
        font-size: 50px;
    }
    .cart-card-h{
        font-size: 32px;
        padding-right: 0px;
        padding-left: 0px;   
    }
}
/*--------------------*/
