/* Change text style in P, background color of all */

/* [BEG] for navbar for when you click one of the buttons, like home, it'll scroll down to that section with a scroll effect*/
html {
    scroll-behavior: smooth;
}
.scrollEffectClass{
    scroll-snap-align: start;
}
/* [END] for navbar for when you click one of the buttons, like home, it'll scroll down to that section with a scroll effect*/

body {
    background-color: rgb(89, 151, 231);
}
section {
    padding: 0 60px;
}


/* This is for Banner */

h6 {
    font-size: 25px;
}
.text-block {
    position: absolute;
    left: 50px;
    top: 165px;
    background-color: lightgray;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
}
.tempContainer {
    position: relative;
}

/* End of banner stuff */


.h2{
    text-align: center;
}

h5 {
    font-size: 32px;
    text-decoration: underline;
}

/* H6 and p format for cards */

.phdFormat {
    font-size: 16px;
    color: black;
}
.p-phdFormat{
    font-size: 15px;
}
/* ---------------- */

/* FAQ format */

h4{
    font-size: 20px;
}

/* Buy now button format */
/* Continue to style */
.buyNowButtom {
    font-size: 24px;
    color: black;
}
.buyNowButtom:hover {
    color: white;
}

.container {
    text-align: center;
}
.b1{
    border-radius: 10px;
}
a:link {
    font-size: 36px;
    color:black;
}
a:hover {
    color:blue;
    text-decoration: none;
}

/* THE FOLLOWING IS FOR index2.html */
/* -------------------------------- */
/* For Cart Buttoon --> index2.html */

/* class for overall button */

.cartButton {
    font-size: 24px;
    text-align: center;

}
/* For b2 button class */

.b2 {
    border: 3px solid black;
    border-radius: 16px;
}
.b2:hover {
    background-color: rgb(192, 173, 173);
    color: black;
}
/* For <a> tag */

.aInsideButton {
    color: rgb(212, 47, 47);
}
.aInsideButton:hover{
    color: black;
}


/* THIS SECTION IS FOR THE CART IN index2.html" */

.cart {
    background-color: rgb(43, 43, 180);
    color: white;
    text-decoration: none;
}
.cartHeading {
    color: white;
    font-size: 60px;
    text-align: center; 
}
.cartBody {
    background-color: rgb(51, 51, 182);
}



/* Media queries is going to be needed for banner for smaller screens */

/*Media queries are going to be needed for imgs and font-size in instructor cards */
